<!DOCTYPE html>
<html lang="th">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  <!-- icon -->
  <link rel="shortcut icon" href="img/logo.png" />

  <title>Realtime In Twitter</title>

  <!-- Bootstrap core CSS -->
  <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

  <!-- Custom fonts for this template -->
  <link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
  <link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800'
    rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic,900,900italic'
    rel='stylesheet' type='text/css'>
  <link href="https://fonts.googleapis.com/css?family=VT323" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Kanit" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Mukta" rel="stylesheet">

  <!-- Plugin CSS -->
  <link href="vendor/magnific-popup/magnific-popup.css" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link href="css/creative.min.css" rel="stylesheet">

</head>

<body id="page-top">

  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
    <div class="container">
      <div id="head-fonts">
        <a class="navbar-brand js-scroll-trigger" href="#page-top">Realtime</a>
      </div>
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive"
        aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="#about">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="#services">Tools</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="#sum">Summary</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="#contact">Contact</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <header class="masthead text-center text-white d-flex">
    <div class="container my-auto">
      <div class="row">
        <div class="col-lg-10 mx-auto">
          <h1 class="text-uppercase">
            <strong>Realtime In Twitter <br>Data Analysis</strong>
          </h1>
          <hr>
        </div>
        <div class="col-lg-8 mx-auto">
          <p class="text-faded mb-5"><i>analyse inform from twitter which is realtime</i></p>
          <a class="btn btn-primary btn-xl js-scroll-trigger" href="#about">เริ่มกันเลย!</a>
        </div>
      </div>
    </div>
  </header>
  
  <section class="bg-primary" id="about">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 mx-auto text-center">
          <h2 class="section-heading text-white">เราทำอะไร ?</h2>
          <hr class="light my-4">
          <p class="text-faded mb-4">ในโลกโซเชียล ข่าวสารหรือเรื่องราวที่เป็นที่นิยมมักจะมีการติดแฮชแท็ก(#)อยู่เสมอ เพื่อให้ผู้ที่ติดตามเรื่องราวเหล่านั้นสามารถอัพเดทเข้อมูลได้ง่ายขึ้นเพียงกดเข้าไปดู เราจะแสดงผลแฮชแท็กที่เป็นที่นิยมที่สุดในทวิตเตอร์แบบRealtime เพื่อที่คุณจะได้ไม่พลาดเรื่องเด่นประเด็นดังที่เป็นที่พูดถึงในทวิตเตอร์ขณะนั้น</p>
        </div>
      </div>
    </div>
  </section>


  <section id="services">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 text-center">
          <h2 class="section-heading">เครื่องมือที่เราใช้</h2>
          <hr class="my-4">
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-lg-3 col-md-6 text-center">
          <div class="service-box mt-5 mx-auto">
            <img src="img/icons8-github-90.png" class="fas fa-4x fa-gem text-primary mb-3 sr-icon-1">
            <h3 class="text-tool">Github</h3>
            <p class="text-muted mb-0">Our templates are updated regularly so they don't break.</p>
          </div>
        </div>
        <div class="col-lg-3 col-md-6 text-center">
            <div class="service-box mt-5 mx-auto">
              <img src="img/icons8-python-90.png" class="fas fa-4x fa-gem text-primary mb-3 sr-icon-2">
              <h3 class="text-tool">Python</h3>
              <p class="text-muted mb-0">Our templates are updated regularly so they don't break.</p>
            </div>
          </div>
        <div class="col-lg-3 col-md-6 text-center">
          <div class="service-box mt-5 mx-auto">
            <img src="img/icons8-chart-90.png" class="fas fa-4x fa-gem text-primary mb-3 sr-icon-3">
            <h3 class="text-tool">Google Chart</h3>
            <p class="text-muted mb-0">You can use this theme as is, or you can make changes!</p>
          </div>
        </div>
        </div>
      </div>
    </div>
  </section>


  <section id="sum">
    <div class="bg-dark text-white container text-center">
      <h1 class="mb-4">Chart</h2>
      <a class="btn btn-light btn-xl sr-button" href="..\chart.html">open
        Now!</a>
    </div>
  </section>

  <section id="contact">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 mx-auto text-center">
          <h2 class="section-heading">สมาชิกในทีมของเรา!</h2>
          <hr class="my-4">
        </div>
      </div>
    </div>
    </div>
    <br>
    <div class="holder">
      <div class="container">
        <div class="row">
          <div class="col-lg-3 col-md-6 text-center">
            <div class="avatar">
              <a href="https://github.com/delldolly" target="_blank"><img src="img/063.jpg" class="user" /></a>
            </div>
            <div class="service-box mt-5 mx-auto">
              <h5 class="text-img">นางสาวชรินรัตน์  บูรณะพิสิฐ</h5>
              <h6 class="text-muted mb-0"><i>61070037</i></h6>
            </div>
          </div>
          <div class="col-lg-3 col-md-6 text-center">
            <div class="avatar">
              <a href="https://github.com/bank61070135" target="_blank"><img src="img/135.jpg" class="user" /></a>
            </div>
            <div class="service-box mt-5 mx-auto">
              <h5 class="text-img">นายพัชรพฤกษ์  ภัทรมานนท์</h5>
              <h6 class="text-muted mb-0"><i>61070135</i></h6>
            </div>
          </div>
          <div class="col-lg-3 col-md-6 text-center">
            <div class="avatar">
              <a href="https://github.com/pythhh" target="_blank"><img src="img/155.jpg" class="user" /></a>
            </div>
            <div class="service-box mt-5 mx-auto">
              <h5 class="text-img">นางสาวภัทรนันท์ จันทร์ชอน</h5>
              <h6 class="text-muted mb-0"><i>61070155</i></h6>
            </div>
          </div>
          <div class="col-lg-3 col-md-6 text-center">
            <div class="avatar">
              <a href="https://github.com/bestculling" target="_blank"><img src="img/263.jpg" class="user" /></a>
            </div>
            <div class="service-box mt-5 mx-auto">
              <h5 class="text-img">นายอัครพล  กันพงษ์</h5>
              <h6 class="text-muted mb-0"><i>61070263</i></h6>
            </div>
          </div>
        </div>
      </div>
    </div>
    </div>
  </section>

  <footer>
    <div id="footer">
      <br>
      <p>โครงงานนี้เป็นส่วนหนึ่งของวิชา Problem Solving in Information Technology (PSIT)<br>คณะเทคโนโลยีสารสนเทศ<br>สถาบันเทคโนโลยีพระจอมเกล้าเจ้าคุณทหารลาดกระบัง
        (สจล.)</p>
    </div>
    <div id="footer2">
      <br>
      <p>ขอบคุณเทมเพลตจาก <a href="https://startbootstrap.com/template-overviews/creative/">Star Bootstrap</a></p>
      <p></p>
    </div>
  </footer>

  <!-- Bootstrap core JavaScript -->
  <script src="vendor/jquery/jquery.min.js"></script>
  <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

  <!-- Plugin JavaScript -->
  <script src="vendor/jquery-easing/jquery.easing.min.js"></script>
  <script src="vendor/scrollreveal/scrollreveal.min.js"></script>
  <script src="vendor/magnific-popup/jquery.magnific-popup.min.js"></script>

  <!-- Custom scripts for this template -->
  <script src="js/creative.min.js"></script>

</body>

</html>